*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
}
.postimage{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
}
.postimage div{
    flex: 1;
}
.postimage__row1{
    width:30rem;
    height:10rem;
    object-fit: cover;
}
.postimage__row2{
    display: flex;
}
.postimage__row2 div{
    flex: 6;
    margin-right: .4rem;
}
.postimage__row2--col1 img{
    width: 14.8rem;
    height: 10rem;
    object-fit: cover;
}
.postimage__row2--col2{
    margin: 0 !important;
}
.postimage__row2--col2 img{
    width: 14.8rem;
    height: 10rem;
    object-fit: cover;
}
.postimage__row3{
    display: flex;
}
.postimage__row3 div{
    flex: 4;
    margin-right: .4rem;
}
.postimage__row3--col1 img{
    width: 9.6rem;
    height: 10rem;
    object-fit: cover;
}
.postimage__row3--col2 img{
    width: 9.6rem;
    height: 10rem;
    object-fit: cover;
}
.postimage__row3--col3{
    width: 9.6rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}