
/* Small tablet to big tablet: from  768px to 1023px */
@media only screen and (max-width: 1200px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .postimage{
        height: 30rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
    }
    .postimage div{
        flex: 1;
    }
    .postimage__row1 img{
        width:30rem;
        height:10rem;
        object-fit: cover;
    }
    .postimage__row2{
        display: flex;
    }
    .postimage__row2 div{
        flex: 6;
        margin-right: .4rem;
    }
    .postimage__row2--col1 img{
        width: 14.8rem;
        height: 10rem;
        object-fit: cover;
    }
    .postimage__row2--col2{
        margin: 0 !important;
    }
    .postimage__row2--col2 img{
        width: 14.8rem;
        height: 10rem;
        object-fit: cover;
    }
    .postimage__row3{
        display: flex;
    }
    .postimage__row3 div{
        flex: 4;
        margin-right: .4rem;
    }
    .postimage__row3--col1 img{
        width: 9.6rem;
        height: 10rem;
        object-fit: cover;
    }
    .postimage__row3--col2 img{
        width: 9.6rem;
        height: 10rem;
        object-fit: cover;
    }
    .postimage__row3--col3{
        width: 9.6rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .postimage{
        height: 24rem;
        width: 24rem;
        display: flex;
        flex-direction: column;
    }
    .postimage div{
        flex: 1;
    }
    .postimage__row1 img{
        width:24rem;
        height:8rem;
        object-fit: cover;
    }
    .postimage__row2{
        display: flex;
    }
    .postimage__row2 div{
        flex: 6;
        margin-right: .3rem;
    }
    .postimage__row2--col1 img{
        width: 11.85rem;
        height: 8rem;
        object-fit: cover;
    }
    .postimage__row2--col2{
        margin: 0 !important;
    }
    .postimage__row2--col2 img{
        width: 11.85rem;
        height: 8rem;
        object-fit: cover;
    }
    .postimage__row3{
        display: flex;
    }
    .postimage__row3 div{
        flex: 4;
        margin-right: .3rem;
    }
    .postimage__row3--col1 img{
        width: 7.8rem;
        height: 8rem;
        object-fit: cover;
    }
    .postimage__row3--col2 img{
        width: 7.8rem;
        height: 8rem;
        object-fit: cover;
    }
    .postimage__row3--col3{
        width: 7.8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

}
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .container{
        display: flex;
        justify-content: center;
    }
    .postimage{
        height: 18rem;
        width: 18rem;
        display: flex;
        flex-direction: column;
    }
    .postimage div{
        flex: 1;
    }
    .postimage__row1 img{
        width:18rem;
        height:6rem;
        object-fit: cover;
    }
    .postimage__row2{
        display: flex;
    }
    .postimage__row2 div{
        flex: 6;
        margin-right: .2rem;
    }
    .postimage__row2--col1 img{
        width: 8.9rem;
        height: 6rem;
        object-fit: cover;
    }
    .postimage__row2--col2{
        margin: 0 !important;
    }
    .postimage__row2--col2 img{
        width: 8.9rem;
        height: 6rem;
        object-fit: cover;
    }
    .postimage__row3{
        display: flex;
    }
    .postimage__row3 div{
        flex: 4;
        margin-right: .2rem;
    }
    .postimage__row3--col1 img{
        width: 5.86rem;
        height: 6rem;
        object-fit: cover;
    }
    .postimage__row3--col2 img{
        width: 5.86rem;
        height: 6rem;
        object-fit: cover;
    }
    .postimage__row3--col3{
        width: 5.86rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }  
}