.post-content .post-tags {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.post-content .post-text {
    width: 100%;
    float: left;
    font-variant-ligatures: no-common-ligatures;
    display: table-cell;
    margin-top: 20px;
}

.post-summary h2 {
    margin: 0 !important;
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
}

.related-posts .post-list li {
    list-style: none;
}

.related-posts .related-posts-row {
    margin-left: -10px;
    margin-right: -10px;
}

.btn-custom {
    background-color: #0494b1;
    color: #fff !important;
    font-weight: 400;
    outline: 0 !important;
    border: 0 !important;
}


fieldset {
    max-width: 155px !important;
    margin-bottom: 0 !important;
}

.myratings {
    font-size: 20px;
    color: green
}

.rating>[id^="star"] {
    display: none
}

.rating>label:after {
    font-size: 20px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating>label {
    color: #ddd;
    float: right;
}

.rating>[id^="star"]:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #38c172
}

.rating>[id^="star"]:checked+label:hover,
.rating>[id^="star"]:checked~label:hover,
.rating>label:hover~[id^="star"]:checked~label,
.rating>[id^="star"]:checked~label:hover~label {
    color: #6affa8
}

.reset-option {
    display: none
}

.reset-button {
    margin: 6px 12px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase
}

.display-4 {
    font-size: 2rem !important;
}
.place-img{
    height: 150px;
    overflow: hidden;
}

.place-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .places{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/mohamaya.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px;
    border-radius: 10px;
    color: #CECECE;
}

.places-bg {
    background-color: #f1f1f1;
    border-radius: 10px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}
