
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden !important;
}


.comment-section {
    width: 100%;
    position: relative;
    display: block;
    float: left;
}

.comment-section .nav-pills {
    border-bottom: 2px solid #dee2e6;
}

.post-content .post-tags  {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.post-content .post-text {
    width: 100%;
    float: left;
    font-variant-ligatures: no-common-ligatures;
    display: table-cell;
    margin-top: 20px;
}

.post-summary h2 {
    margin: 0 !important;
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
}

.related-posts .post-list li {
    list-style: none;
}

.related-posts .related-posts-row {
    margin-left: -10px;
    margin-right: -10px;
}

.btn-custom {
    background-color: #0494b1;
    color: #fff !important;
    font-weight: 400;
    outline: 0 !important;
    border: 0 !important;
}


fieldset,
label {
    margin: 0;
    padding: 0
}



.rating {
    border: none;
    margin-right: 49px
}

.myratings {
    font-size: 85px;
    color: green
}

.rating>[id^="star"] {
    display: none
}

.rating>label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating>.half:before {
    content: "\f089";
    position: absolute
}

.rating>label {
    color: #ddd;
    float: right
}

.rating>[id^="star"]:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700
}

.rating>[id^="star"]:checked+label:hover,
.rating>[id^="star"]:checked~label:hover,
.rating>label:hover~[id^="star"]:checked~label,
.rating>[id^="star"]:checked~label:hover~label {
    color: #FFED85
}

.reset-option {
    display: none
}

.reset-button {
    margin: 6px 12px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase
}



p {
    font-size: 14px
}

h4 {
    margin-top: 18px
}

.btn:focus {
    outline: none
}

.btn {
    border-radius: 22px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 8px 19px;
    cursor: pointer;
    color: #fff;
    
}

.btn:hover {
    background-color: #D32F2F !important
}