
body{
  background-image: url('../resources/coxs-bazar.jpg');
  background-repeat: no-repeat;
  background-size: cover;font-family: 'Source Sans Pro', sans-serif;
  background-color: #f7fff5;
  min-height: 100vh;
}
.front-look .forms-pane {
  max-width: 448px;
  padding: 3% 6%;
  margin: auto;
  background-color: #ffffffa6;
  text-align: center;
  border-radius: 2%;
  box-shadow: 12px 0px 30px -20px, -12px 0px 30px -20px;
}
.login-form, .signup-form{
  width: 90%;
}
.log-sign-form p{
  font-size: smaller;
}
.log-sign-form > h3{
  font-weight: 800;
  font-size: 2rem;
}
.btn.toggle-btn{
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: #26a76d;
  border: 1px solid #26a76d;
  background-color: #fff;
}
.error_msg{
  background-color: #ff454285;
  border-radius: 2%;
  margin-bottom: 0;
}

/*TOP SECTION AND NAVBAR DESIGN */
.search-btn{
  float: left;
}
@media (max-width: 992px) {
  .search-btn {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .phone-search {
    display: none !important;
  }
}
.navbar-nav li {
  padding: 8px 10px;
}

/* forgot password section start--> */
.title {
  width: 225px;
  margin-right: 40px;
  float: left;
}
.platform-title{
  width: 15%;
  margin: 2% auto;
}
.platform-title img{
  width: 100%;
}
.recovery-form{
  width: 360px;
  margin: 2% auto;
  padding: 3%;
  background-color: #ffffffa6;
  text-align: center;
  border-radius: 2%;
  box-shadow: 12px 0px 30px -20px, -12px 0px 30px -20px;
}
.recovery-form h3>span{
  color: #ff4542;
}
.recovery-form p>span{
  color:#21b573;
  font-weight: bold;
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 950px){
  .platform-title{width: 20%;}
}
@media only screen and (max-width: 650px){
  .platform-title{width: 30%;}
}
forgot password section end-->

.banner-section{
  padding-top: 50px;
}
.banner-text {
  line-height: 2;
  font-weight: 300;
  margin-bottom: 25px;
}

.top-section{
  margin-top: 80px;
  position: relative;
}
.top-section h1 {
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 3.5rem;
}
.top-section h1 span,h3 span {
  color: #21b573;
}
/* carousel section */
h2{
  text-align: center;
  font-weight: 700;
  color: #21b573;
}
h2 span{
  color: #ff19199e;
}
.carousel-item {
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px;
  border-radius: 10px;
  color: #CECECE;
}

.carousel-indicators li {
  background-color: #CECECE;
  height: 10px;
  width: 16px;
  border-radius: 6px;
  border: none;
}

.carousel-indicators .active {
  background-image: linear-gradient(to right, #ee5872c9, #ee5872c9);
  width: 45px;
}

/* direction section */
.direction{
display: block;
border: solid;
border-radius: 6px;
border-width: 0 0 5px 0;
width: 15%;
margin: auto;
border-image: linear-gradient(to right, #c07410, #70660d);
margin-bottom: 5%;
}

/* Stories section */ 
.community{
  color:rgba(0, 0, 0, 0.5)
}
.community .green{
  background-color: #21b573;
  color:#f7fff5;
  padding: 0 2px;
  border-radius: 4px;
}
.community .red{
  background-color: #ff4542;
  color:#f7fff5;
  padding: 0 2px;
  border-radius: 4px;
}
.stories{
  display: block;
  border: solid;
  border-radius: 6px;
  border-width: 0 0 5px 0;
  width: 15%;
  margin: auto;
  border-image: linear-gradient(to right, #c07410, #70660d) 1;
  margin-bottom: 5%;
}

/* FOOTER SECTION  */
.footer-section {
  background-color: #242121;
  color: #fff;
  padding: 50px 50px 30px 50px;
}
.footer-section ul {
  padding: 0;
}
.footer-section ul li {
  list-style: none;
  font-weight: 300;
}
.footer-section h4 {
  font-weight: 400;
}
.copyright {
  margin-top: 100px;
  margin-bottom: 0;
}

/* Common DESIGN  */
.col-md-6 p{
  text-align: justify;
}
 .cool-things  {
  text-align: center;
  color: #413960;
  font-weight: 500;
  padding: 10px 10px;
} 
.common-btn {
  padding: 6px 24px;
  border: none;
  border-radius: 33px;
  background-color: #21b573;
  color: #fff;
}
.common-btn:hover {
  background-image: linear-gradient(90deg, rgb(9, 238, 96), rgb(4, 182, 63));
  color: #fff;
  text-decoration: none;
}
.common-btn.light{
  background-color:#ff19199e;
}
.common-btn.light:hover{
  background-image: linear-gradient(90deg, rgb(240, 88, 88), rgb(216, 15, 15));
  color: #fff;
  text-decoration: none;
}
.btn {
  background-color: #21b573;
  color: #fff;
  border: none;
  font-weight: 900;
}
.btn:hover, .btn:active, .btn:visited {
  background-image: linear-gradient(90deg, rgb(9, 238, 96), rgb(4, 182, 63));
  border: none;
  color: #fff;
}
.btn.toggle-btn:hover, .btn.toggle-btn:active {
  background-image: linear-gradient(90deg, rgb(243, 255, 247), rgb(214, 214, 214));
  border: 0.5px solid;
  border-color: #21b573;;
  color: #2bc47f;
}

/* media queries */
@media only screen and (max-width: 767px) {
  .navbar-nav{
    background-color: #fcfffc78;
    border: 15px;
    text-align: center;
    font-weight: 400;
  }
  .top-section {
    margin-top: 25px;
  }
  .top-section h1{
    margin: 0 auto 20px;
    text-align: center;
    font-size: 1.5rem;
  }
  .description h5, .description p, .description a{
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .title{
    margin: auto;
    text-align: center;
    float: none;
  }
}
